@media screen and (max-width: 750px) {
  .botao {
    margin-top: 15px;
    width: 300px;
  }

  .filme-principal .descricao{
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 360px){
  .filme-principal{
    height: 600px;
  }
  
}
  
@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}